/* Austin's CSS */
.socialSet{
  height: 100%;
}
.fa{
  font-size: 1.75rem;
  margin: 0.5rem;
  color: white;
  cursor: pointer;
}
.navbar-brand{
  color: darkorange !important;
  font-size: 1.75rem;
}
.navbar{
  padding: 0 1em;
}
.profile{
  float: right;
  display: flex;
  flex-direction: row;;
  cursor: pointer;
}
.profile-name{
  color: white;
  line-height: 3rem;

}
.mar-right{
  margin-right: 1rem;
}