@import "Styling/_colors.scss";

.gameHead{
    composes: row from global;
    width: 100%;
    color: $accent-color;
    justify-content: center;
    margin-left: 0;
}
.leaveBtn{
    composes: col from global;
    text-align: right;
}
