.wrapper{
    composes: container-fluid from "Styling/layout.scss";
    justify-content: center;
    padding: 1%;
}
.main{
    composes: flex-fill from global;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ready{
    composes: col-8 from global;
    composes: flex-column from "Styling/layout.scss";
    background-color: black;
    border: darkorange solid 2px;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.fields{
    display: flex;
    width:60%;
    margin: 1em;
}
