.playerList{
    composes: container from global;
}
.lookingPlayer{
    composes: fas fa-user-secret from global;
    color: white;
}
.playerNotReady{
    composes: fa fa-user from global;
    color: white;
}
.playerReady{
    composes: fa fa-user from global;
    color: darkorange;
}
