.wrapper {
    composes: container-fluid from "Styling/layout.scss";
}

.panelBox{
    composes: row from global;
    composes: flex-fill from "Styling/layout.scss";
    composes: flex-row from "Styling/layout.scss";
    flex-grow: 1;
}
