.footer {
    padding: .5rem 0;
    width: 100%;
    color: #000;
    a {
        color: #000;
    }
}

.copyright {
    composes: text-center from global;
    composes: text-small from 'Styling/font.scss';
}
