@import "Styling/_variables.scss";

.navbar {
    composes: navbar navbar-expand-sm navbar-dark bg-dark from global;
    padding: 2px 1em;
    height: 56px;
}

.logo {
    composes: navbar-brand text-center justify-content-center from global;
    order: 2;
    flex: 1 1 auto;
    composes: flex-row from "Styling/layout.scss";
    @media (max-width: $header-social-breakpoint) {
      flex: none;
      margin-left: 1rem;
      margin-right: auto;
    }
    img {
        width: 35px;
        height: 35px;;
        margin: auto 10px;
    }
    span {
        color: darkorange !important;
        font-size: 1.5rem;
        @media (max-width: $header-logo-breakpoint) {
            display: none;
        }
    }
}

.social {
    margin-left: 1rem;
    order: 1;
    @media (max-width: $header-social-breakpoint) {
        display: none;
    }
}


.profile {
    margin-right: 1rem;
    order: 3;
}

