.wrapper {
    composes: container-fluid from "Styling/layout.scss";
}

.panelBox{
    composes: row from global;
    composes: flex-fill from "Styling/layout.scss";
    background-color: #5C6976;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.panel{
    flex-grow: 1;
    border-right: black solid 2px;
    transition: all 0.5s;
}
.panel:hover{
   flex-grow: 4;
}
.innerPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #C5D1EB;
    transition: all 0.5s;
}
.innerPanel:hover{
    color: darkorange;
    padding-bottom: 30%;
}
.joinBtn {
    composes: btn btn-outline-success from global;
 }
.constructionBtn{
    composes: btn btn-dark from global;
}
.createBtn{
    composes: btn btn-outline-warning from global;
}
.normalBtn{
    composes: btn btn-outline-light from global;
}
.btnDiv{
    padding-top: 10%;
}
.accent{
    margin-top: 15%;
    margin-bottom: 15%;
    width: 100%;
    height: 5%;
}
