.wrapper {
    composes: container-fluid from "Styling/layout.scss";
}

.panelBox{
    composes: row from global;
    composes: flex-fill from "Styling/layout.scss";
    background-color: slategray;
}
