@import "Styling/_variables.scss";

$contain-border: $accent-color solid 2px;

.wrapper {
    composes: container-fluid from "Styling/layout.scss";
    justify-content: center;
    align-items: center;
    form{
        margin-bottom: 5%;
        padding-top: 5%;
        justify-content: left;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }
}
.contain{
    composes: container from global;
    background-color: black;
    border: $contain-border;
    color: white;
}
.inside{
    composes: col from global;
    border-right: $contain-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom{
    composes: row from global;
    background-color: black;
    border-top: $contain-border;
    justify-content: center;
}
.row{
    composes: row from global;
}
.left{
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
}
.formGroup{
    composes: form-group from global;
    text-align: left;
}
.formControl{
    composes: form-control from global;
}
.room{
    margin-top: 500px;
    padding-top: 5%;
}
.warning{
    color: red;
}
.loader {
    border: 2px solid grey;
    border-radius: 50%;
    border-top: $contain-border;
    width: 1.4em;
    height: 1.4em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loadingPad{
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}
.warningSpace{
    color: black;
}

.discordBtn{
    composes: btn btn-dark btn-lg from global;
    background-color: #7289DA;
    border-color: #7289DA;
}
.createBtn{
    composes: btn btn-warning btn-lg from global;
}
.facebookBtn{
    composes: btn btn-dark btn-lg from global;
    background-color: #3B5998;
}
.facebookBtn:hover, .createBtn:hover, .discordBtn:hover{
    background-color: $accent-color;
}
.discordBtn, .facebookBtn, .createBtn{
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.facebookSpan, .discordSpan {
    composes: fab from global;
    vertical-align: middle;
}
.facebookSpan {
    composes: fa-facebook from global;
}
.discordSpan {
    composes: fa-discord from global;
}
.pad{
    margin: 5%;
}
.arrow {
    float: left;
    cursor: pointer;
}
